/*General Body Styling*/
body {
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  color: seashell;
  background-color: black;
  margin: 0;
  display: block;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}

/*Header Styling*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 10;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
}
.logo img{
  height: 50px;
  margin-left: 10px;
}
header nav {
  display: block;
  flex-grow: 1;
  text-align: right;
}
header a {
  display: inline-block;
  color: seashell;
  margin: 20px 10px;
}

/*Content Styling*/
.content {
  padding-top: 70px;
  width: 1200px;
  opacity: .9;
  margin: auto;
}

/*Mission Statement + tea jar jumbotron*/
#mission {
  height: 700px;
  padding-top: 70px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.stateMission {
  text-align: center;
  background-color: black;
  width: 100%;
}

/*Tea & Items Selection*/

#storeItems {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;

}
#storeItems .itemsContainer {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#storeItems .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
#storeItems .item img {
  height: 200px;
  width: 300px;
}

/*Locations + tea cup jumbotron*/

.jumbotron.location {
  padding-top: 70px;
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
  text-align: center;
}

.jumbotron .locationContainer {
  display: flex;
  justify-content: center;
  padding: 15px 20px;
}

.jumbotron .locationBox {
  width: 300px;
  background-color: black;
  margin: 15px 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/*Contacts*/
.contact {
  height: 200px;
  padding-top: 70px;
}

/*Footer*/
footer h5 {
  text-align: left;
  padding-left: 20px;
  padding-top: 70px;
}
